.mouse {
  position: absolute;
  background-repeat: no-repeat;
  height: 45px;
  min-width: 55px;
  z-index: 100;
}

.mouse{
  background-image: url('../images/cursor.png');
}

.color0{ background-image: url('../images/yellow.gif'); }
.color1{ background-image: url('../images/purple.gif'); }
.color2{ background-image: url('../images/green.gif'); }
.color3{ background-image: url('../images/pink.gif'); }
.color4{ background-image: url('../images/yellow.gif'); }

span.mouse img {
  padding: 0 5px;
  float:left;
  margin: 0 -15px 0 15px;
  width: 20px;
  height: 20px;
}

#cursor {
  height:45px;
  min-width:55px;
  position:absolute;
  background-image: url('../images/yellow.gif');
}
