.mouse {
  position: absolute;
  background-repeat: no-repeat;
  height: 50px;
  min-width: 40px;
  z-index: 100;
}

.mouse{
  background-image: url('../images/cursor.png');
}

.color1,
.color0{ background-image: url('../images/glowstick1.png'); }
.color2{ background-image: url('../images/glowstick2.png'); }
.color3{ background-image: url('../images/glowstick3.png'); }
.color4{ background-image: url('../images/glowstick4.png'); }

span.mouse img {
  padding: 0 5px;
  float:left;
  margin: 0 -15px 0 15px;
  width: 20px;
  height: 20px;
}
